<div class="whole-index">
  <% if current_user %>
    <%= link_to "Create New Tweet",
      new_tweet_path,
      class: "btn btn-sm btn-primary"
    %>
  <% end %>

  <% @tweets.each do |tweet| %>
    <div class="tweet">
      <%= render 'tweets', tweet: tweet %>
      <%= render 'comment', tweet: tweet %>
      <%= link_to 'Comment', tweet_path(tweet),
        class: "btn btn-sm border-dark spacer"
      %>
    </div>
  <% end %>
</div>
